/////////////////////////////////////////////////////////
[BLATight]
N_PH    =  100 +/-  5e6   L(10 - 50000000)
alphaCB = -1. +/- 5  L(-5 - 5)
meanCB  =  1000 +/- 30000    L(-10000 - 30000)
sigmaCB =  2000 +/-  2000   L( 0 - 5000)
nCB     =  5           +/- 1          L(1 - 10)
////////////////////////////////////////////////////////
[Tight]
alphaCB =    -4.1364e-01 +/-  1.03e-02   L(-5 - 5)
meanCB  =     1.7501e+03 +/-  2.42e+01  L(-10000 - 30000)
nCB     =   1.0000e+01 +/-  2.98e-02    L(1 - 10)
sigmaCB =   8.0381e+02 +/-  1.58e+01    L( 0 - 5000)
////////////////////////////////////////////////////////